use Mix.Config

config :video_processor,
  complex_feed_url:    "<val>",
  uplynk_account_guid: "<val>",
  uplynk_secret_key:   "<val>",
  s3_url:             "<val>"
config :ex_aws,
  access_key_id:     "<val>",
  secret_access_key: "<val>",
  upload_bucket:     "<val>"
